beautifulsoup4
imageio
keras ; python_version < '3.12'
lxml
matplotlib~=3.9.0
numpy~=1.26.4
opencv-python
pandas
pillow
requests
rich
scikit-learn
sympy
tensorflow
tweepy
typing_extensions
xgboost
polars
jupyter
mnist